* {
    margin: 0;
    padding: 0;
}

#photo {
    background: lightseagreen;
    height: 100%;
    ;
    width: 75%;
    float: left;
}

#imgupload{
    display: none;
}

#image{
    width: 100%;
    outline: 1px solid grey;
}

#canvas{
    outline: 1px solid green;
    width: 100%;
}

#chat {
    background: lightblue;
    height: 100%;
    width: 25%;
    float: left;
}

h1 {
    color: aquamarine;
}

body {
    height: 100vh;
    width: 100vw;

}